<div class="content-wrapper">
  <!-- <div class="content-wrapper">
     Content Header (Page header) -->
    <section class="content-header">
      <h1>
        PQRS
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/v1/inicio"><i class="fa fa-home"></i>Home</a></li>
      </ol>

      <div class="box-body">
        <!-- Cedula pqrs -->
        <div class="form-group">
          <label class="message-cedula">Cedula</label>
          <div class="input-group my-colorpicker2 colorpicker-element">
            <input type="text" class="form-control">
          </div>
          <!-- /.Close cedula pqrs -->
        </div>
          <!-- Name complet pqrs -->
        <div class="form-group">
        <label class="message-cedula">Nombre completo</label>

        <div class="input-group my-colorpicker2 colorpicker-element">
          <input type="text" class="form-control">
        </div>
        <!-- /.Close cedula pqrs -->
      </div>
    </div>
  
    </section>
    <!-- pqrs container -->
    <section class="content">

      <!-- Default box -->
      <div class="box">
        <div class="form-group"><center><label for="mensaje">Registro de PQRS</label></center><textarea class="form-control"
          id="mensaje" rows="4"></textarea> </div> 
          <center><button type="submit"
            class="btn btn-primary">Enviar
          </button></center>
  </div>
</div>





        